
* {
    margin: 0;
    padding: 0;
}

.error-page-container {
    display: flex;
    flex-direction: column;
    gap: 139px;
    justify-content: center;
    align-items: center;

    .error-page-title {
        font-family: Monserrat;
        font-weight: 700;
        font-size: 18rem;
        color: #FF6060;
    }

    .error-page-message {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 2.25rem;
        color: #FF6060;
    }

    .error-page-link {
        font-family: Montserrat;
        font-weight: 500;
        font-size: 1.125rem;
        margin-bottom: 139px;
        text-decoration: underline;
    }
}

/* responsive */

@media screen  and (max-width: 769px) {

    .error-page-container {
        gap: 113px;

        .error-page-title {
            font-size: 6rem;
            padding-top: 113px;
        }

        .error-page-message {
            font-size: 1.125rem;
        }

        .error-page-link {
            font-size: 0.875rem;
            margin-bottom: 113px;
        }

    }
    }
