.collapse-container {
    height: auto;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 76px;
    margin-bottom: 38px;

    .collapse-element {
        width: 100%;
    }

    .collapse-header {
        border-radius: 5px;
        padding: 10px 20px 10px 15px;
        background-color: #FF6060;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &-title {
            color: white;
            font-family: Montserrat;
            font-size: 1.5rem;
            font-weight: 700px;
        }

        &-icon {
            width: 24px;
            height: 13.71px;
            transition: transform 350ms ease;
            cursor: pointer;

            &.rotate {
                transform: rotate(180deg);
            }
        }
    }

    .collapse-text {
        padding: 0px 20px 0px 15px;
        font-size: 1.125rem;
        font-family: Monserrat;
        font-weight: 400;
        background-color: #F6F6F6;
        border-radius: 5px;
        line-height: 25.67px;
        max-height: 0;
        overflow-y: auto;
        box-sizing: border-box;
        transition: max-height 350ms ease-out, padding 350ms ease-out;

        &.show {
            max-height: 200px;
            padding: 10px 20px 10px 15px;
            width: 100%;
            box-sizing: border-box;
            scroll-behavior: smooth;
        }

        .collapse-header {
            width: 100%;
            border-radius: 5px;
            padding: 10px 20px 10px 15px;
            background-color: #FF6060;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            &-title {
                color: white;
                font-family: Montserrat;
                font-size: 1.5rem;
                font-weight: 700px;
            }

            &-icon {
                width: 24px;
                height: 13.71px;
                transition: transform 350ms ease;
                cursor: pointer;

                &.rotate {
                    transform: rotate(180deg);
                }
            }
        }

    }
}

.collapse-container-about {
    width: 82.6%;
    gap: 28px;
    margin-bottom: 38px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
}


/* responsive tablets and mobile */
@media screen and (max-width: 769px) {

    .collapse-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;

        .collapse-header {
            padding: 10px;

            &-title {
                font-size: 0.813rem;
            }

            &-icon {
                width: 16px;
                height: 9.14px;
            }
        }

        .collapse-text {
            font-size: 0.75rem;
            line-height: 17.11px;
        }
    }
}

/* responsive for wide monitors */
@media screen and (min-width: 1440px) {

    .collapse-container {
        margin: 38px auto;
    }
}
